{extend name="layout/base" /}

{block name="pre-css"}
<link rel="stylesheet" href="/assets-admin/js/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
{/block}

{block name="content"}
<div class="row">
    <form class="form-inline push float-right" method="GET">
        <label class="sr-only" for="name">关键字</label>
        <div class="input-group">
            <div class="input-daterange input-group" data-date-format="yyyy-mm-dd" data-week-start="1" data-autoclose="true" data-today-highlight="true">
                <input type="text" class="form-control col-sm-5" id="example-daterange1" name="start_time" placeholder="开始时间" data-week-start="1" data-autoclose="true" data-today-highlight="true" value="{$Request.get.start_time}">
                <div class="input-group-prepend input-group-append">
                <span class="input-group-text font-w600">
                    <i class="fa fa-fw fa-arrow-right"></i>
                </span>
                </div>
                <input type="text" class="form-control col-sm-5" id="example-daterange2" name="end_time" placeholder="结束时间" data-week-start="1" data-autoclose="true" data-today-highlight="true" value="{$Request.get.end_time}">
            </div>
            <select class="form-control mb-2 mr-sm-2 mb-sm-0" name="activity_id">
                <option value="">统计场次</option>
                {foreach $activities as $activity}
                <option value="{$activity.id}" {if $Request.get.activity_id == $activity.id}selected{/if}>{$activity.name}</option>
                {/foreach}
            </select>
            <select class="form-control mb-2 mr-sm-2 mb-sm-0" name="device_id">
                <option value="">统计设备</option>
                {foreach $devices as $device}
                <option value="{$device.id}" {if $Request.get.device_id == $device.id}selected{/if}>{$device.name}</option>
                {/foreach}
            </select>
        </div>
        <div class="input-group-append mb-2 mr-sm-2 mb-sm-0">
            <button type="submit" class="btn btn-success">搜索</button>
        </div>
    </form>
</div>

<div class="block">
    <div class="block-content">
        <table class="table table-bordered table-striped table-vcenter js-table-checkable">
            <thead>
            <tr>
                <th class="text-center">日期</th>
                <th class="text-center">设备启动二维码</th>
                <th class="text-center">设备启动次数</th>
                <th class="text-center">设备启动人数</th>
                <th class="text-center">照片领取二维码</th>
                <th class="text-center">照片领取次数</th>
                <th class="text-center">照片领取人数</th>
                <th class="text-center">注册人数</th>
            </tr>
            </thead>
            <tbody>
            {if !empty($lists)}
            {foreach $lists.item as $item}
            <tr>
                <td class="text-center font-size-sm">{$item.day}</td>
                <td class="text-center font-size-sm">{$item.device_start_qr}</td>
                <td class="text-center font-size-sm">{$item.device_start_num}</td>
                <td class="text-center font-size-sm">{$item.device_start_people}</td>
                <td class="text-center font-size-sm">{$item.photo_get_qr}</td>
                <td class="text-center font-size-sm">{$item.photo_get_num}</td>
                <td class="text-center font-size-sm">{$item.photo_get_people}</td>
                <td class="text-center font-size-sm">{$item.register_people}</td>
            </tr>
            {/foreach}
            {/if}
            <tr>
                <td class="text-left font-size-sm">总计</td>
                <td class="text-center font-size-sm">{$lists.all.device_start_qr}</td>
                <td class="text-center font-size-sm">{$lists.all.device_start_num}</td>
                <td class="text-center font-size-sm">{$lists.all.device_start_people}</td>
                <td class="text-center font-size-sm">{$lists.all.photo_get_qr}</td>
                <td class="text-center font-size-sm">{$lists.all.photo_get_num}</td>
                <td class="text-center font-size-sm">{$lists.all.photo_get_people}</td>
                <td class="text-center font-size-sm">{$lists.all.register_people}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- END Stats -->
{/block}

{block name="js"}
<!-- Page JS Plugins -->
<script src="/assets-admin/js/plugins/easy-pie-chart/jquery.easypiechart.min.js"></script>
<script src="/assets-admin/js/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
<script src="/assets-admin/js/plugins/chart.js/Chart.bundle.min.js"></script>
<script src="/assets-admin/js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script>
    jQuery(function(){ One.helpers(['datepicker']); });

</script>

{/block}