APP_DEBUG = true[DATABASE]TYPE = mysqlHOSTNAME = 127.0.0.1DATABASE = science_treeUSERNAME = rootPASSWORD = 123456HOSTPORT = 3306CHARSET = utf8DEBUG = false[CACHE]DRIVER = file[REDIS]HOST = 127.0.0.1PORT = 6379PASSWORD =