APP_DEBUG = true[APP]PROJECT_NAME = 项目名称BACKEND_PREFIX = adminDEFAULT_TIMEZONE = Asia/ShanghaiDEFAULT_LANG = zh-cnTOKEN_KEY=3GjSBt6oH0Uww7194oG8efibqXihH7RBTOKEN_TIME=8640000DELAY_TIME=300[DATABASE]TYPE = mysqlHOSTNAME = 127.0.0.1DATABASE = 数据库名称USERNAME = rootPASSWORD =HOSTPORT = 3306CHARSET = utf8DEBUG = false[CACHE]DRIVER = file[REDIS]HOST = 127.0.0.1PORT = 6379PASSWORD =