APP_DEBUG = true[APP]USER_LOGIN_TOKEN = 4gVYC0mFjG4xr16osbz5jSXQQxPJbCJrUSER_LOGIN_NAME = adminUSER_LOGIN_PASSWORD = admin123PROJECT_NAME = 腾讯科技树BACKEND_PREFIX = adminDEFAULT_TIMEZONE = Asia/ShanghaiDEFAULT_LANG = zh-cnTOKEN_KEY=EQD97HePTgaNa0r4p0kS4RIV2T6GGV7PTOKEN_TIME=86400DELAY_TIME=300[DATABASE]TYPE = mysqlHOSTNAME = 127.0.0.1DATABASE = scientice_treeUSERNAME = rootPASSWORD = 123456HOSTPORT = 3306CHARSET = utf8DEBUG = false[CACHE]DRIVER = file[LOG]CHANNEL = system[REDIS]HOST = 127.0.0.1PORT = 6379PASSWORD =