{extend name="layout/base" /}

{block name="content"}
<div class="block">
    <div class="block-header block-header-default">
        <h3 class="block-title">系统日志</h3>
        <div class="block-options">
            <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle" data-action-mode="demo">
                <i class="si si-refresh"></i>
            </button>
            <button type="button" class="btn-block-option" data-toggle="block-option" data-action="fullscreen_toggle"></button>
        </div>
    </div>
    <div class="block-content">
        <form class="form-inline push float-right" method="GET">
            <label class="sr-only" for="admin-id">admin-id</label>
            <select class="form-control form-control-alt mb-2 mr-sm-2 mb-sm-0" id="admin-id" name="admin_id">
                <option value="0">全部管理员</option>
                {foreach $admins as $admin}
                <option value="{$admin.id}" {if condition="$admin.id == $adminId"} selected {/if}>{$admin.nickname}</option>
                {/foreach}
            </select>
            <label class="sr-only" for="keyword">日志信息</label>
            <input type="text" class="form-control form-control-alt mb-2 mr-sm-2 mb-sm-0" id="keyword" name="keyword" value="{$keyword}" placeholder="搜索日志信息">
            <button type="submit" class="btn btn-dark">搜索</button>
        </form>
        <form class="table-responsive" name="base-form">
            <table class="table table-bordered table-striped table-vcenter">
                <thead>
                <tr>
                    <th class="text-center" style="width: 70px;">ID</th>
                    <th class="text-center">管理员</th>
                    <th style="width: 30%;">日志信息</th>
                    <th>IP</th>
                    <th style="width: 15%;">操作时间</th>
                    <th>状态</th>
                    <th class="text-center" style="width: 100px;">操作</th>
                </tr>
                </thead>
                <tbody>
                {foreach $list as $item}
                <tr>
                    <td class="text-center">{$item.id}</td>
                    <td class="text-center">{$item.admin}</td>
                    <td>{$item.handle}</td>
                    <td>{$item.ip}</td>
                    <td>{$item.created_at|date='Y-m-d H:i:s'}</td>
                    <td>
                        {if condition="$item['is_success'] == 1"}
                        <span class="badge badge-success">成功</span>
                        {else}
                        <span class="badge badge-warning">失败</span>
                        {/if}
                    </td>
                    <td class="text-center">\</td>
                </tr>
                {/foreach}
                </tbody>
            </table>
        </form>
        <nav>
            {$list|raw}
        </nav>
    </div>
</div>
{/block}